<div class="jumbo">
  <div id="edit-btn">
    <% if @profile.user == current_user %>
     <%= button_to 'Edit Company Profile', edit_profile_path(@profile), method: "get", class: "btn btn-default" %>
     <%= button_to 'Add Photo', new_photo_path, method: "get",class: "btn btn-default" %>
    <% end %>
  </div>
  <br>
<div class="jumbotron">
  <div class="profile-avatar"><%= image_tag @profile.avatar.url(:medium) %></div>
  <table>
    <tr>
      <td><h2><%= @profile.name %></h2></td>
    </tr>
    <tr>
      <td><%= @profile.location %></td>
    </tr>
    <div id="follow-btn"><%= render 'follow_form' if user_signed_in? %></div>
    <tr>
      <td><%= @profile.website %></td>
    </tr>
  </table>
</div>