<div class="jumbo">
  <div id="edit-btn">
    <% if @profile.user == current_user %>
     <%= link_to 'Edit Company Profile', edit_profile_path(@profile), method: "get", class: "btn btn-default" %>
     <%= link_to 'Edit Photo Gallery', photos_path, method: "get",class: "btn btn-default" %>
    <% end %>
  </div>
  <br>
<div class="jumbotron">
  <div id="follow-btn"><%= render 'follow_form' if user_signed_in? %></div>
  <div id="email-btn">
    <%= mail_to @profile.user.email do %>
    <%= content_tag :strong, 'Email Us', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
  <div class="profile-avatar"><%= image_tag @profile.avatar.url(:medium) %></div>
  <table>
    <tr>
      <td><h2><%= @profile.name %></h2></td>
    </tr>
    <tr>
      <td><%= @profile.location %></td>
    </tr>
    <tr>
      <td><%= @profile.website %></td>
    </tr>
    <tr>
      <td><% if @profile.is_brand == true %>Brand<% else %>Retailer<% end %></td>
    </tr>
  </table>
</div>