<%= render 'banner' %>
<br>
<div class="btn-group" id="profile-buttons">
  <%= link_to 'Overview', profile_get_overview_path(@profile), :class => 'btn btn-default'  %>
  <%= link_to 'News', profile_get_news_path(@profile), :class => 'btn btn-default'  %>
  <%= link_to 'Followers', profile_get_followers_path, :class => 'btn btn-primary'  %>
  <%= link_to 'Following', profile_get_following_path, :class => 'btn btn-default'  %>
</div>
<div id="render-partial">
  <%= render(:partial => 'get_followers') %>
</div>
<br>