
<div id="browse">
  <h1><em>BRANDS</em></h1>
  <div class="btn-group" id="profile-buttons">
    <%= link_to 'Featured', '#', :class => 'btn btn-link'  %>
    <%= link_to 'Trending', '#', :class => 'btn btn-link'  %>
    <%= link_to 'All', '#', :class => 'btn btn-link active'  %>
  </div>
</div>
<br>
<div id="cards" class="transitions-enabled">
  <% @profiles.each do |profile| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(profile.avatar.url(:medium)), profile %>
      <div class="panel-body">
        <strong><%= profile.name %></strong><br>
        <%= profile.description %><br>
        <br>
        <div id="location">
          <%= profile.location %>
        </div><br>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
  <%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
</div>