<div id="cards" class="transitions-enabled">
  <% @profiles.each do |profile| %>
    <div class="box panel panel-default">
      <%= image_tag profile.avatar.url(:medium) %>
      <div class="panel-body">
        <%= profile.name %><br>
        <%= profile.description %><br>
        <%= profile.location %><br>
        <%= link_to 'Show', profile %>
      </div>
    </div>
  <% end %>
</div>

