<div id="createprofile">
  <%= bootstrap_form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.form_group :is_brand, label: { text: "I am creating a profile for:" } do %>
      <%= f.radio_button :is_brand, true, label: "a Brand", inline: true %>
      <%= f.radio_button :is_brand, false, label: "a Retailer", inline: true %>
    <% end %>

    <div class="actions">
      <%= f.submit "Continue" %>
    </div>
  <% end %>
</div>