<p id="notice"><%= notice %></p>

<% if @profile.user == current_user %>
	<%= link_to 'Edit Company Profile', edit_profile_path(@profile) %>
<% end %>
<br>
<%= image_tag @profile.avatar.url(:medium) %>
<p>
  <strong>Company Name:</strong>
  <%= @profile.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>
<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>
<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>
<p>
  <strong>What We Make:</strong>
  <%= @profile.what_we_make %>
</p>
<p>
  <strong>Looking For:</strong>
  <%= @profile.looking_for %>
</p>
<p>
  <strong>Stockists:</strong>
  <%= @profile.stockist %>
</p>