<p id="notice"><%= notice %></p>

<section>
  <%= render 'shared/stats' %>
</section>

<%= render 'follow_form' if user_signed_in? %>

<div id="edit-btn">
  <% if @profile.user == current_user %>
  
   <!-- uncommented -->
	<!-- <button type="button"  class="btn btn-default"><%= link_to 'Edit Company Profile', edit_profile_path(@profile), method: "get" %></button> -->
   <!-- <button type="button" class="btn btn-default"><%= link_to 'Add Photo', new_photo_path(@profile) , method: "get" %></button> -->
	 <%= button_to 'Edit Company Profile', edit_profile_path(@profile), method: "get", class: "btn btn-default" %>
	 <%= button_to 'Add Photo', new_photo_path, method: "get",class: "btn btn-default" %>
  <% end %>
</div>
<br>
<div id="banner">
  <%= image_tag @profile.avatar.url(:medium) %>
  <table>
    <tr>
      <td><h2><%= @profile.name %></h2></td>
    </tr>
    <tr>
      <td><%= @profile.location %></td>
    </tr>
    <tr>
      <td><%= @profile.website %></td>
    </tr>
  </table>
</div>


<div id="profile-buttons" class="btn-group">
  <button type="button" class="btn btn-default active">Overview</button>
  <button type="button" class="btn btn-default">News</button>
  <button type="button" class="btn btn-default" >Followers (<%= @profile.followers.count %>)</button>
</div>

<%= render(:partial => 'overview') %>

<% if @profile.microposts.any? %>
  <h3>Microposts (<%= @profile.microposts.count %>)</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
<% end %>
