<p id="notice"><%= notice %></p>

<% if @profile.user == current_user %>
	<%= link_to 'Edit Company Profile', edit_profile_path(@profile) %>
<% end %>
<br>
<%= image_tag @profile.avatar.url(:medium) %>
<p>
  <strong>Company Name:</strong>
  <%= @profile.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>
