<li id="<%= feed_item.id %>">
  <%= link_to image_tag feed_item.profile.avatar.url(:thumb) %>
  <span class="user">
    <%= link_to feed_item.profile.name, feed_item.profile %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>