<% @profile ||=  current_profile %>
<div class="stats">
  <a href="<%= profile_get_news_path(@profile) %>">
   <strong id="following" class="stat">
      <%= @profile.microposts.count %>
    </strong>
    posts
  </a>
  <a href="<%= profile_get_following_path(@profile) %>">
   <strong id="following" class="stat">
      <%= @profile.followed_profiles.count %>
    </strong>
    following
  </a>
  <a href="<%= profile_get_followers_path(@profile) %>">
    <strong id="followers" class="stat">
    <%= @profile.followers.count %>
    </strong>
    followers
  </a>
</div>
