<div class="container">
 <div id="browse">
   <ul class="nav nav-pills">
     <li class="title">Brands</li>
     <li class="unselected"><a href="#">Featured</a></li>
     <li class="unselected"><a href="#">Trending</a></li>
     <li class="selected"><a href="#">All</a></li></div>
   </ul>
 </div>
 <br>
 <div id="cards" class="transitions-enabled">
    <% @profiles.each do |profile| %>
      <div class="box panel panel-default">
        <%= link_to content_tag(:span), profile %>
        <%= image_tag profile.cover.url(:medium) %>
        <div id="avatar-card"><%= image_tag profile.avatar.url(:thumb) %></div>
        <div class="panel-body">
          <p><strong><%= profile.name %></strong></p>
          <%= truncate profile.tagline, length: 100 %><br>
          <br>
          <div id="type"><% if profile.is_brand == true %>Brand<% else %>Retailer<% end %></div>
          <div id="location">
            <%= profile.location %>
          </div><br>
        </div>
 </div>
    <% end %>
  </div>
  <div class="center">
    <%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
  </div>
</div>

