<div class="container">
<div id="browse">
  <h1><em>BRANDS</em></h1>
  <ul class="nav nav-pills">
    <li><a href="#">Featured</a></li>
    <li><a href="#">Trending</a></li>
    <li class="active"><a href="#">All</a></li></div>
  </ul>
</div>
<br>
<div id="cards" class="transitions-enabled">
  <% @profiles.each do |profile| %>
    <div class="box panel panel-default">
      <%= link_to content_tag(:span), profile %>
      <%= image_tag profile.cover.url(:medium) %>
      <div id="avatar-card"><%= image_tag profile.avatar.url(:thumb) %></div>
      <div class="panel-body">
        <p><strong><%= profile.name %></strong></p>
        <%= truncate profile.tagline, length: 100 %><br>
        <br>
        <div id="location">
          <%= profile.location %>
        </div><br>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
  <%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
</div>
</div>